name: Build and Release

on: workflow_dispatch

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.4
      
      - name: Get Tag
        id: get_tag
        run: echo "::set-output name=tag::$(git describe --tags)"

      - name: Build
        run: |
          make all
      
      - name: Bundle
        run: |
          cd bin
          version=$(git describe --tags)
          zip -r porttest_${{ steps.get_tag.outputs.tag }}.zip porttest sender receiver

      - name: Make Release
        id: make_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.get_tag.outputs.tag }}
          release_name: Release ${{ steps.get_tag.outputs.tag }}
          body: Release ${{ steps.get_tag.outputs.tag }}
          draft: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.make_release.outputs.upload_url }}
          asset_path: bin/porttest_${{ steps.get_tag.outputs.tag }}.zip
          asset_name: porttest_${{ steps.get_tag.outputs.tag }}.zip
          asset_content_type: application/zip